<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Peliculapp</title>
    <script src="/static/js/init.js"></script>
    <script src="/static/js/main2.js"></script>
    <link href="static/css/inicio.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <style>
    .card{background-color: #fdcb32;}
    a{color: black;}

    </style>
</head>
<body>
    <main id="container">
        <nav class="navbar navbar-dark justify-content-between">
            <a href="inicio"><h1>Peliculapp</h1></a>
             <div class="btn-group">
                  <a type="button" class="btn btn-dark" id="usuarioLogeado" href="/profile">
                      {{ data['NAME'] }}
                  </a>
                  <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/profile">Mi perfil</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                  </div>
                </div>
        </nav>
        <div id="mainContent">
        <a href="inicio"><img src="/static/img/logo2.png" alt="Peliculapp Logo"></a>
        <form class="searchContainer" id="formSearch">
            <input id="txtSearch" name="txtSearch" placeholder="Tu búsqueda" />
            <button id="btnSearch">BUSCAR</button>
        </form>
        </div>
    </main>
        <div class="row" id="showMovies"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
